body {
    width: 100%;
    background-image: url("programowanie-2.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

.navbar-nav {
    display:inline-flex;
    margin: 0 auto;
    margin-top: 5px;
    color: rgba(248, 233, 233, 0.9);
}

.bg-faded {
    background-color: rgba(247, 247, 247, 0.42);
}

.collapse {
    margin: 0 auto;
    text-align: center;
}

a.navbar-brand {
    font-size: 25px;
    text-shadow:5px 5px 3px red;
}

.nav-item.nav-link {
    font-size: 18px;
    color: orange;
}

button.navbar-toggler {
    background-color: rgba(17, 14, 14, 0.835);
    width: 60px;
    height: auto;
    background-color: orange;
    border-color: orangered !important;
}

a.nav-link {
    margin: 15px;
    margin-top: 5px;
    text-align: center;
    line-height: auto;
    width: 150px;
    height: auto;
    border: 2px solid rgba(155, 8, 8, 0.911);
    border-radius: 5px;
    color: rgba(248, 233, 233, 0.9);
}

section.carousel {
    display: initial;
    margin: 0 auto;
    border: 1px solid rgba(20, 19, 19, 0.479);
    border-radius: 5px;
    color: rgba(248, 233, 233, 0.9);
}

.btn-info {
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

article.flex-item {
    margin: 0 auto;
    word-wrap: break-word;
    background-color: rgb(223, 228, 231);
    width: 33%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    margin: 15px;
    border: 2px solid black;
    border-radius: 4px;
    
}

img  {
    width: 100%;
    height: auto;
  }

  @media (max-width: 992px) {
      article.flex-item {
          width: 55%;
      }
  } 

  @media (min-width: 993px) {
    article.flex-item {
      width: 300px;
      height: auto;
    }
  }