* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    border: 2px solid #fff;  /* For debugging */
    width: 1200px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }

  .login {
    margin-left: 20px;
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }

  .content {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    text-align: left;
    /*margin: 10px;*/
  }
  
  .footer {
    display: flex;
    justify-content: center;
    background-color: brown;
    border: 2px solid;
  }

  h2 {
    background: lemonchiffon;
    border: 1px thick lavenderblush;
    margin-left: 20px;
    padding: 5px;
  }

  h1 {
    margin: 0 auto;
    text-align: justify;
    word-spacing: 1;
  }
  p {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 10px;
  }