* {
    box-sizing: border-box;
  }

  body {
    width: 100%;
    background-image: url("programowanie-2.jpg");
  }

  button {
    margin: 10px;
  }

  div.navbar {
    width: 75%;
    height: auto;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 10px 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
  }

  div.navbar * {
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    width: 100px;
    font-size: 17px;
  }

  div.navbar :hover {
    background-color: #f3b00c;
  }

  .header {
    background-color:transparent;
    padding: 20px;
    margin: 0 auto;
  }
  
  div.menu {
    width: 25%;
    border: none;
    text-align: left;
    word-wrap: break-word;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: lightblue;
    text-align: left;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    background-color: brown;
    border: 2px solid;
  }

  h1 {
    text-align: center;
  }

  p {
    display: flex;
    align-content: stretch;
    text-align: left;
    margin-left: 10px;
  }

  .flex-container {
    
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    background-color: transparent;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

  .flex-item {
    background-color: rgb(223, 228, 231);
    width: 25%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    margin: 15px;
    border: 2px solid black;
    border-radius: 4px;
}