/* Tu dodawaj style */

/* ---BOXY POD KARUZELĄ--- */

.btn-info {
    margin: 0 auto;
}


.flex-container {
    position: static;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}

article.flex-item {
    display: table-column;
    padding: 7px;
    background-color: rgb(233, 110, 29);
    height: auto;
    margin: 15px;
    border-radius: 4px;

}

article.flex-item h1 {
    padding: 10px;
    font-size: 180%;
    text-align: center;
    line-height: 1.5;
}

aside {
    width: 100%;
    height: auto;
    left: 26px;
    right: 5px;

}

aside p1 {
    font-size: 120%;
    text-indent: 50px;
    text-align: justify;
}

.flex-item img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
}

/* ---BOXY POD KARUZELĄ END--- */

/* button info*/

.btn-info {
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    background-color: #d14816;
    border: none;
    color: rgb(27, 26, 26);
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.btn-info span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1.5s;
  }

  .btn-info span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }

  .btn-info:hover span {
    padding-right: 25px;
  }

  .btn-info:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* button info END*/



@-webkit-keyframes roll{
	0% {-webkit-transform: translateX(500px) rotate(360deg);}
	100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
	0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
	0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
	0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
	0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
	0% {-webkit-transform: translateY(40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
	0% {-moz-transform: translateY(40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
	0% {-o-transform: translateY(40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
	0% {-ms-transform: translateY(40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
	0% {transform: translateY(40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
	0% {transform: scale(1);}
	100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut{
	0% {opacity: 1;}
	100% {opacity: 0;}
}
