h1 {
  text-align: center;
  color: #f29400;
  width: 100%;
}

a {
  color: #f29400;
}

a:hover {
  color: #000;
}

#contact-submit {
  background: #000;
  color: #f29400;
}

#home {
  padding-top: 122px;
}

/* ---BOXY POD KARUZELĄ--- */

.btn-info {
  margin: 0 auto;
}

.flex-container {
  position: static;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}

article.flex-item {
  padding: 1em;
  background-color: #f29400;
  width: 100%;
}

article.flex-item h1 {
  padding: 10px;
  font-size: 180%;
  text-align: center;
  line-height: 1.5;
}

aside {
  width: 100%;
  height: auto;
  left: 26px;
  right: 5px;
}

aside p1 {
  font-size: 120%;
  text-indent: 50px;
  text-align: justify;
}

.flex-item img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
}

/* ---BOXY POD KARUZELĄ END--- */

/* button info*/

.btn-info {
  margin-left: 6px;
  margin-bottom: 6px;
  background-color: #000;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-info:hover {
  background: #FFF;
  color: #000;
}

.btn-info span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-info span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.btn-info:hover span {
  padding-right: 1em;
}

.btn-info:hover span:after {
  opacity: 1;
  right: 0;
}

/* button info END*/

/* section O Nas*/

.intro h1 {
  text-align: left;
  font-size: 45px;
}

.intro p {
  text-align: justify;
  line-height: 1.8;
}

.intro img {
  display: block;
  float: right;
  margin-left: 55px;
}

/* sekcja-DANE */

#dane {
  width: 400px;
}

.fa {
  padding-right: 14px;
}

#dane ul {
  list-style-type: none;
  text-align: left;
  line-height: 2.1;
  font-size: 120%;
}

.one {
  line-height: 1.4;
}

#map {
  height: 400px;
  width: 100%;
}

/* section-Raty */

#raty div {
  text-align: left;
}

#raty ul li {
  margin-left: 3em;
  padding-bottom: 0.5em;
  text-align: left;
  line-height: 1;
}

#raty h3 {
  margin: .5em;
  text-align: left;
  color: red;
  text-transform: none;
}

#raty .header {
  margin-left: -36px;
}

ul.bottom {
  text-align: left;
  margin-top: 10px !important;
  line-height: 0.3;
  list-style-type: none;
}

/* section-Raty-end */

/*oferta*/

.tab-content p {
  text-align: left;
  line-height: 1.3;
}