

body {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0; 
}

div.myNavbar {
    display: flex;
    float: right;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

div.navbar-nav {
    margin: 0 auto;
}

.bg-faded {
    background-color: rgba(105, 99, 99, 0.808);
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.collapse {
    margin: 0 auto;
    text-align: center;
}

a.navbar-brand {
    max-width: 100%;
}

.navbar-toggler-right {
    position: relative;
    margin: 0 auto;
}


button.navbar-toggler {
    background-color: rgba(17, 14, 14, 0.835);
    width: 60px;
    height: auto;
    background-color: orange;
    border-color: orangered !important;
}

.nav-link {
    margin: 15px;
    text-align: center;
    width: 100px;
    height: auto;
    font-size: 170%;
    color: rgba(248, 233, 233, 0.9);
    padding: 1px;
}

/*GALLERY*/

#photos {
    opacity: .88;
  }
  
  #photos img {
    width: 30%;
    float: left;
    display: flex;
    margin: 2px;
  }
  
  ul {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    display: block;
    max-width: 1200px;
    text-align: center;
  }
  
  #overlay {
    background: rgba(0,0,0, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
  }
  
  #overlay img {
    margin: 10% auto 0;
    width: 950px;
    border-radius: 5px;
  }
  
  #photos {
    width: 100%;
  }
  
  #photo-gallery {
    width: 100%;
  }

  @media (max-width: 992px) {
    #photo-gallery {
        width: 100%;
    }
    #photos img {
        width: 100%;
    }
}